
<% include partials/header %>

    <div class="container"></div>

        <p>
            <%= Tott.class %>
        </p>

        <img src="<%= Tott.image %>" alt="">

        <p>
            <%= Tott.rumor %>
        </p>

        <% Tott.comments.forEach( function(comment) { %>
            <p>
                <%= comment.auther %> - <%= comment.text %>
            </p>
        <% }) %> 

    </div>

<% include partials/footer %>