
<% include ../partials/header %>

    <div class="container"></div>

        <p>
            <%= Tott.class %>
        </p>

        <img src="<%= Tott.image %>" alt="">

        <p>
            <%= Tott.rumor %>
        </p>
        <p>
            <a class="btn btn-success" href="/talkOfTheTown/<%= Tott._id %>/comments/new">add new comment</a>
        </p>

        <% Tott.comments.forEach( function(comment) { %>
            <p>
                <%= comment.auther %> - <%= comment.text %>
            </p>
        <% }) %> 

    </div>

<% include ../partials/footer %>